* {
	margin: 0;
	padding: 0;
}


.footer {
    position: fixed;
      bottom: 0;
      background-color: #333;
      width: 100%;
  
  }
  
  .footerContainer {
    margin: 0 auto;
    width: 1440px;
  }
  
  .footer ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    .footer li {
      float: left;
    }
    
    .footer li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .footer li a:hover:not(.active) {
      background-color: #111;
    }
    
    .footer .active {
      background-color: #1504aa;
    }
  
    .footer .right {
      float: right;
    }